<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title DESIRE - ABOUT
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="css/main.min.css")
    body
        .wrapper
            .header
                .container
                    .header__inner 
                        nav.menu
                            ul.menu__list
                                li.menu__list-item 
                                    a.menu__list-link.menu__list-link--active(href="about.html") About
                                li.menu__list-item 
                                    a.menu__list-link(href="gallery.html") Gallery
                        a.logo(href="index.html")
                            img(src="img/logo.png", alt="")
                        nav.menu
                            ul.menu__list
                                li.menu__list-item 
                                    a.menu__list-link(href="blog.html") Blog
                                li.menu__list-item 
                                    a.menu__list-link(href="contacts.html") Contact
                        button.header__btn
                            img(src="img/icon_menu.svg", alt="")
                        .rightside-menu
                            button.rightside-menu__close
                                img(src="img/close.svg", alt="")
                            .rightside-menu__content        
                                a.rightside-menu__logo(href='#')
                                    img(src="img/logo-menu.png", alt="")
                                h4.rightside-menu__title Furniture for life
                                p.rightside-menu__text 
                                    |Sustainable hot chicken skateboard, dreamcatcher meggings actually squid. Slow-carb everyday carry +1 art party microdosing, put a bird on it brooklyn
                                img.rightside-menu__img(src="img/content/rightside-img.jpg", alt="")
            main.main
                .breadcrumbs
                    .container 
                        ul.breadcrumbs__list
                            li.breadcrumbs__item
                                a.breadcrumbs__link(href="index.html") Home
                            li.breadcrumbs__item
                                a.breadcrumbs__link(href="#") About
                section.about
                    .about__prev
                        .container 
                            h2.about__prev-title About Us
                    .about__content
                        .container
                            h3.about__title Balance in the simple through an informed marriage of design, functional and craft
                            .about__text 
                                p Vexillologist vape microdosing freegan pork belly deep v direct trade cray single-origin coffee street art. Viral shaman mustache master cleanse, pour-over affogato poutine copper mug marfa fanny pack normcore. Lo-fi pop-up banjo portland, echo park hammock chillwave literally post-ironic ramps subway tile kitsch. Shaman tumblr fixie echo park street art. Enamel pin vaporware wayfarers, organic succulents hella sustainable cardigan
                                p Sustainable hot chicken skateboard, dreamcatcher meggings actually squid. Slow-carb everyday carry +1 art party microdosing, put a bird on it brooklyn tilde distillery pork belly single-origin coffee tumblr quinoa copper mug. Affogato cold-pressed unicorn, viral intelligentsia leggings raw denim kombucha tote bag messenger bag chambray vape coloring book scenester. Activated charcoal wayfarers church-key tote bag synth brunch. Retro cornhole
                    .about__popup
                        button.about__popup-play(data-btn-video="")
                            img.about__popup-imgbtn(src="img/icons/play.svg", alt="")
                        .about__popup-player(data-modal-video="")
                            .video-modal
                                #player 
                            .close-icon#close
                                .close-icon-line
                section.inspiration
                    .container-fluid
                        .inspiration__inner 
                            img.inspiration__img(src="img/content/inspiration-decor.png" alt="")
                            .inspiration__content
                                h3.inspiration__title Our Inspiration in details
                                p.inspiration__text Semiotics fixie four dollar toast, next level woke scenester direct trade photo booth helvetica jean shorts. Fanny pack church-key cornhole, banh mi thundercats gochujang keytar.
                                ul.inspiration__list
                                    li.inspiration__item 
                                        .inspiration__item-content
                                            p.inspiration__item-text Design and technical drawings
                                            p.inspiration__item-num 80%
                                        .inspiration__line(style="width: 80%")
                                    li.inspiration__item 
                                        .inspiration__item-content
                                            p.inspiration__item-text Measurments
                                            p.inspiration__item-num 70%
                                        .inspiration__line(style="width: 70%")
                                    li.inspiration__item 
                                        .inspiration__item-content
                                            p.inspiration__item-text Furniture functionality analysis
                                            p.inspiration__item-num 75%
                                        .inspiration__line(style="width: 75%")
                                    li.inspiration__item 
                                        .inspiration__item-content
                                            p.inspiration__item-text Interior visualization
                                            p.inspiration__item-num 40%
                                        .inspiration__line(style="width: 40%")
                .partners
                    .container-fluid 
                       .partners__items
                            img.partners__item(src="img/partners/1.svg") 
                            img.partners__item(src="img/partners/2.svg") 
                            img.partners__item(src="img/partners/1.svg") 
                            img.partners__item(src="img/partners/2.svg") 
                            img.partners__item(src="img/partners/1.svg") 
                .collection
                    a.collection__item(href="#")
                        img.collection__img(src="img/content/collection-1.jpg", alt="")
                        .collection__info
                            h6.collection__info-title Truffaut literally trust 
                            p.collection__info-text Living room furntiture | Chair
                    a.collection__item(href="#")
                        img.collection__img(src="img/content/collection-2.jpg", alt="")
                        .collection__info
                            h6.collection__info-title Truffaut literally trust 
                            p.collection__info-text Living room furntiture | Chair
                    a.collection__item(href="#")
                        img.collection__img(src="img/content/collection-3.jpg", alt="")
                        .collection__info
                            h6.collection__info-title Truffaut literally trust 
                            p.collection__info-text Living room furntiture | Chair
                    a.collection__item(href="#")
                        img.collection__img(src="img/content/collection-4.jpg", alt="")
                        .collection__info
                            h6.collection__info-title Truffaut literally trust 
                            p.collection__info-text Living room furntiture | Chair
                    a.collection__item(href="#")
                        img.collection__img(src="img/content/collection-5.jpg", alt="")
                        .collection__info
                            h6.collection__info-title Truffaut literally trust 
                            p.collection__info-text Living room furntiture | Chair
            .footer 
                .footer__content
                    .container
                        .footer__inner
                            .footer__info
                                h6.footer__info-title Contact Us
                                p.footer__info-text 
                                    |Keffiyeh poutine etsy, paleo cray put a bird on it microdosing schlitz you probably occupy
                                a.info-email(href="mailto:ouremailaddress@email.com") ouremailaddress@email.com
                                form.footer__form
                                    input.footer__form-input(type="email" placeholder="Subscribe by email")
                                    button.footer__form-btn(type="submit") Send
                            ul.footer__social-list
                                li.footer__social-item
                                    a.footer__social-link.footer__social-link--facebook(href="#") Facebook
                                li.footer__social-item
                                    a.footer__social-link.footer__social-link--instagram(href="#") Instagram
                                li.footer__social-item
                                    a.footer__social-link.footer__social-link--pinterest(href="#") Pinterest
                                li.footer__social-item
                                    a.footer__social-link.footer__social-link--whatsapp(href="#") WhatsApp
                                li.footer__social-item
                                    a.footer__social-link.footer__social-link--youtube(href="#") Youtube 
                            nav.footer__menu
                                ul.footer__menu-list
                                    li.footer__menu-item
                                        a.footer__menu-link(href="#") Delivery
                                    li.footer__menu-item
                                        a.footer__menu-link(href="#") FAQ
                                    li.footer__menu-item
                                        a.footer__menu-link(href="#") Help
                                    li.footer__menu-item
                                        a.footer__menu-link(href="#") More About Us
                .footer__copyright 
                    .container
                        p 674 Gonzales Drive.   Washington, PA 15301
    script(src="libs/jquery/jquery.js")
    script(src="https://www.youtube.com/iframe_api")
    script(src="js/video.min.js")
    script(src="js/main.min.js")