<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title desire
        link(rel="stylesheet" type="text/css" href="libs/slick/slick.css")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:ital,wght@0,400;0,600;1,300&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="css/main.min.css")
    body
        .wrapper
            .header
                .container
                    .header__inner 
                        nav.menu
                            ul.menu__list
                                li.menu__list-item 
                                    a.menu__list-link(href="about.html") About
                                li.menu__list-item 
                                    a.menu__list-link(href="gallery.html") Gallery
                        a.logo(href="index.html")
                            img(src="img/logo.png", alt="")
                        nav.menu
                            ul.menu__list
                                li.menu__list-item 
                                    a.menu__list-link.menu__list-link--active(href="blog.html") Blog
                                li.menu__list-item 
                                    a.menu__list-link(href="contacts.html") Contact
                        button.header__btn-menu
                            span 
                            span 
                            span 
                        button.header__btn
                            img(src="img/icon_menu.svg", alt="")
                        .rightside-menu
                            button.rightside-menu__close
                                img(src="img/close.svg", alt="")
                            .rightside-menu__content        
                                a.rightside-menu__logo(href='#')
                                    img(src="img/logo-menu.png", alt="")
                                h4.rightside-menu__title Furniture for life
                                p.rightside-menu__text 
                                    |Sustainable hot chicken skateboard, dreamcatcher meggings actually squid. Slow-carb everyday carry +1 art party microdosing, put a bird on it brooklyn
                                img.rightside-menu__img(src="img/content/rightside-img.jpg", alt="")
            main.main
                .breadcrumbs
                    .container 
                        ul.breadcrumbs__list
                            li.breadcrumbs__item
                                a.breadcrumbs__link(href="index.html") Home
                            li.breadcrumbs__item
                                a.breadcrumbs__link(href="#") Blog
                section.blog
                    .container
                        .blog__inner
                            .blog__items
                                .blog__item
                                    img.blog__item-img(src="img/blog/big-1.jpg" alt="")
                                    .blog__item-info 
                                        span.blog__item-date August 15, 2020 |
                                        a.blog__item-author(href="#") by Ann Summers |
                                        a.blog__item-theme(href="#") Bedroom Furniture
                                    a.blog__item-link(href="single-article.html") 
                                        h3.blog__item-title Red selfies edison bulb four dollar toast humblebrag for the furniture
                                    p.blog__item-text Everyday carry actually neutra authentic kogi shabby chic migas small batch craft beer. Literally williamsburg tote bag farm-to-table mustache ugh deep v irony. Af man bun copper mug iPhone enamel pin pug selvage hammock palo santo godard thundercats coloring book yuccie woke. Ugh pok pok taxidermy pabst enamel pin edison bulb farm-to-table
                                blockquote.blog__blockquote “Simplicity is not the goal. It is the by-product of a good idea and modest expectations” 
                                    .blog__blockquote-author Paul Rand
                                .blog__item.article-video
                                    button.video-popup-play(data-btn-video11="")
                                        img.blog__item-img(src="img/blog/big-2.png", alt="", data-btn-video="")
                                        .video-popup-player(data-modal-video="")
                                            .video-modal
                                                #player 
                                            .close-icon#close
                                                .close-icon-line
                                    .blog__item-info  
                                        span.blog__item-date August 12, 2020 |
                                        a.blog__item-author(href="#") by Lux Morningstar |
                                        a.blog__item-theme(href="#") Design
                                    a.blog__item-link(href="single-article.html") 
                                        h3.blog__item-title Authentic kogi shabby chic
                                
                                .blog__item.article-slider 
                                    .article-slider__box
                                        img.article-slider__img(src="img/blog/big-3.jpg", alt="")
                                        img.article-slider__img(src="img/blog/big-3.jpg", alt="")
                                        img.article-slider__img(src="img/blog/big-3.jpg", alt="")
                                    .blog__item-info 
                                        span.blog__item-date August 18, 2020 |
                                        a.blog__item-author(href="#") by Ann Summers |
                                        a.blog__item-theme(href="#") Table Furniture
                                    a.blog__item-link(href="single-article.html") 
                                        h3.blog__item-title Semiotics fixie four dollar toast, next level woke
                                    p.blog__item-text Everyday carry actually neutra authentic kogi shabby chic migas small batch craft beer. Literally williamsburg tote bag farm-to-table mustache ugh deep v irony. Af man bun copper mug iPhone enamel pin pug selvage hammock palo santo godard thundercats coloring book yuccie woke. Ugh pok pok taxidermy pabst enamel pin edison bulb farm-to-table
                                .pagination
                                    a.pagination__arrow.pagination__arrow--disabled(href="#")
                                        img.pagination__arrow-icon(src="img/icons/arrows-left.svg", alt="")
                                    ul.pagination__list
                                        li.pagination__list-item
                                            a.pagination__list-num.pagination__list-num--active(href="#") 1
                                        li.pagination__list-item
                                            a.pagination__list-num(href="#") 2
                                    a.pagination__arrow(href="#")
                                        img.pagination__arrow-icon(src="img/icons/arrows-right.svg", alt="")
                            aside.aside
                                form.aside__search
                                    input(type="text" placeholder="Search").aside__search-input 
                                    button(type="submit").aside__search-btn
                                        img(src="img/icons/search.svg", alt="")
                                .blog__category
                                    h6.blog__category-title Categories
                                    ul.blog__category-list
                                        li.blog__category-item
                                            a.blog__category-link(href="#")  Dining room (1)
                                        li.blog__category-item
                                            a.blog__category-link(href="#") Office furniture (12)
                                        li.blog__category-item
                                            a.blog__category-link(href="#") Simple interiror design (2)
                                        li.blog__category-item
                                            a.blog__category-link(href="#") Design (4)
                                        li.blog__category-item
                                            a.blog__category-link(href="#") Bedroom Furniture (1)
                                .recent-posts
                                    h6.recent-posts__title Recent Posts
                                    ul.recent-posts__list
                                        li.recent-posts__item
                                            a.recent-posts__item-title(href="#") Cred selfies edison bulb four dollar toast humblebrag
                                            span.recent-posts__date August 10, 2020 
                                            | | 
                                            a.recent-posts__author(href="#") by Ann Summers
                                        li.recent-posts__item
                                            a.recent-posts__item-title(href="#") Semiotics fixie four dollar toast, next level woke scenester direct trade photo booth
                                            span.recent-posts__date September 30 ,2020
                                            | | 
                                            a.recent-posts__author(href="#") by Ann Summers
                                        li.recent-posts__item
                                            a.recent-posts__item-title(href="#") Cred selfies edison bulb four dollar toast humblebrag
                                            span.recent-posts__date May 2, 2020
                                            ||
                                            a.recent-posts__author(href="#") by Ann Summers
                                .blog__tags 
                                    h6.blog__tags-title Tags
                                    a.blog__tags-link(href="#") Dining room futniture
                                    a.blog__tags-link(href="#") Chair
                                    a.blog__tags-link(href="#") Table
                                    a.blog__tags-link(href="#") Bedroom
                                    a.blog__tags-link(href="#") Office Furniture
                                ul.blog__social
                                    li.blog__social-item
                                        a.blog__social-link(href="#")
                                            img.blog__social-img(src="img/social/facebook.svg", alt="facebook")
                                    li.blog__social-item
                                        a.blog__social-link(href="#")
                                            img.contact__social-img(src="img/social/instagram.svg", alt="instagram")
                                    li.blog__social-item
                                        a.blog__social-link(href="#")
                                            img.blog__social-img(src="img/social/Pinterest.svg", alt="Pinterest")
                                    li.blog__social-item
                                        a.blog__social-link(href="#")
                                            img.blog__social-img(src="img/social/whatsapp.svg", alt="whatsapp")
                                    li.blog__social-item
                                        a.blog__social-link(href="#")
                                            img.blog__social-img(src="img/social/youtube.svg", alt="youtube")
            .footer 
                .footer__content
                    .container
                        .footer__inner
                            .footer__info
                                h6.footer__info-title Contact Us
                                p.footer__info-text 
                                    |Keffiyeh poutine etsy, paleo cray put a bird on it microdosing schlitz you probably occupy
                                a.info-email(href="mailto:ouremailaddress@email.com") ouremailaddress@email.com
                                form.footer__form
                                    input.footer__form-input(type="email" placeholder="Subscribe by email")
                                    button.footer__form-btn(type="submit") Send
                            ul.footer__social-list
                                li.footer__social-item
                                    a.footer__social-link.footer__social-link--facebook(href="#") Facebook
                                li.footer__social-item
                                    a.footer__social-link.footer__social-link--instagram(href="#") Instagram
                                li.footer__social-item
                                    a.footer__social-link.footer__social-link--pinterest(href="#") Pinterest
                                li.footer__social-item
                                    a.footer__social-link.footer__social-link--whatsapp(href="#") WhatsApp
                                li.footer__social-item
                                    a.footer__social-link.footer__social-link--youtube(href="#") Youtube 
                            nav.footer__menu
                                ul.footer__menu-list
                                    li.footer__menu-item
                                        a.footer__menu-link(href="#") Delivery
                                    li.footer__menu-item
                                        a.footer__menu-link(href="#") FAQ
                                    li.footer__menu-item
                                        a.footer__menu-link(href="#") Help
                                    li.footer__menu-item
                                        a.footer__menu-link(href="#") More About Us
                .footer__copyright 
                    .container
                        p 674 Gonzales Drive.   Washington, PA 15301
    script(src="libs/jquery/jquery.js")
    script(src="libs/slick/slick.min.js")
    script(src="js/video.min.js")
    script(src="js/main.min.js")