<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title desire
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="css/main.min.css")
    body
        .wrapper
            .header
                .container
                    .header__inner 
                        nav.menu
                            ul.menu__list
                                li.menu__list-item 
                                    a.menu__list-link(href="about.html") About
                                li.menu__list-item 
                                    a.menu__list-link(href="gallery.html") Gallery
                        a.logo(href="#")
                            img(src="img/logo.png", alt="")
                        nav.menu
                            ul.menu__list
                                li.menu__list-item 
                                    a.menu__list-link.menu__list-link--active(href="blog.html") Blog
                                li.menu__list-item 
                                    a.menu__list-link(href="contacts.html") Contact
                        button.header__btn
                            img(src="img/icon_menu.svg", alt="")
                        .rightside-menu
                            button.rightside-menu__close
                                img(src="img/close.svg", alt="")
                            .rightside-menu__content        
                                a.rightside-menu__logo(href='#')
                                    img(src="img/logo-menu.png", alt="")
                                h4.rightside-menu__title Furniture for life
                                p.rightside-menu__text 
                                    |Sustainable hot chicken skateboard, dreamcatcher meggings actually squid. Slow-carb everyday carry +1 art party microdosing, put a bird on it brooklyn
                                img.rightside-menu__img(src="img/content/rightside-img.jpg", alt="")
            main.main
                .breadcrumbs
                    .container 
                        ul.breadcrumbs__list
                            li.breadcrumbs__item
                                a.breadcrumbs__link(href="index.html") Home
                            li.breadcrumbs__item
                                a.breadcrumbs__link(href="#") Blog
                section.blog
                    .container
                        .blog__inner
                            .blog__items
                            aside.aside
                                form.aside__search
                                    input(type="tex" placeholder="Search").aside__search-input 
                                    button(type="submit").aside__search-btn
                                        img(src="img/icons/search.svg", alt="")
                                .blog__category
                                    h6.blog__category-title Categories
                                    ul.blog__category-list
                                        li.blog__category-item
                                            a.blog__category-link(href="#")  Dining room (1)
                                        li.blog__category-item
                                            a.blog__category-link(href="#") Office furniture (12)
                                        li.blog__category-item
                                            a.blog__category-link(href="#") Simple interiror design (2)
                                        li.blog__category-item
                                            a.blog__category-link(href="#") Design (4)
                                        li.blog__category-item
                                            a.blog__category-link(href="#") Bedroom Furniture (1)
                                .recent-posts
                                    h6.recent-posts__title Recent Posts
                                    ul.recent-posts__list
                                        li.recent-posts__item
                                            a.recent-posts__item-title(href="#") Cred selfies edison bulb four dollar toast humblebrag
                                            span.recent-posts__date August 10, 2020 
                                            | | 
                                            a.recent-posts__author(href="#") by Ann Summers
                                        li.recent-posts__item
                                            a.recent-posts__item-title(href="#") Semiotics fixie four dollar toast, next level woke scenester direct trade photo booth
                                            span.recent-posts__date September 30 ,2020
                                            | | 
                                            a.recent-posts__author(href="#") by Ann Summers
                                        li.recent-posts__item
                                            a.recent-posts__item-title(href="#") Cred selfies edison bulb four dollar toast humblebrag
                                            span.recent-posts__date May 2, 2020
                                            ||
                                            a.recent-posts__author(href="#") by Ann Summers
                                .blog__tags 
                                    h6.blog__tags-title Tags
                                    a.blog__tags-link(href="#") Dining room futniture
                                    a.blog__tags-link(href="#") Chair
                                    a.blog__tags-link(href="#") Table
                                    a.blog__tags-link(href="#") Bedroom
                                    a.blog__tags-link(href="#") Office Furniture
                                ul.blog__social
                                    li.blog__cocial-item
                                        a.blog__social-link(href="#")
                                            img.blog__social-img(src="img/social/facebook.svg", alt="facebook")
                                    li.blog__social-item
                                        a.blog__social-link(href="#")
                                            img.contact__social-img(src="img/social/instagram.svg", alt="instagram")
                                    li.blog__social-item
                                        a.blog__social-link(href="#")
                                            img.blog__social-img(src="img/social/Pinterest.svg", alt="Pinterest")
                                    li.blog__social-item
                                        a.blog__social-link(href="#")
                                            img.blog__social-img(src="img/social/whatsapp.svg", alt="whatsapp")
                                    li.blog__social-item
                                        a.blog__social-link(href="#")
                                            img.blog__social-img(src="img/social/youtube.svg", alt="youtube")
            .footer 
                .footer__content
                    .container
                        .footer__inner
                            .footer__info
                                h6.footer__info-title Contact Us
                                p.footer__info-text 
                                    |Keffiyeh poutine etsy, paleo cray put a bird on it microdosing schlitz you probably occupy
                                a.info-email(href="mailto:ouremailaddress@email.com") ouremailaddress@email.com
                                form.footer__form
                                    input.footer__form-input(type="email" placeholder="Subscribe by email")
                                    button.footer__form-btn(type="submit") Send
                            ul.footer__social-list
                                li.footer__social-item
                                    a.footer__social-link.footer__social-link--facebook(href="#") Facebook
                                li.footer__social-item
                                    a.footer__social-link.footer__social-link--instagram(href="#") Instagram
                                li.footer__social-item
                                    a.footer__social-link.footer__social-link--pinterest(href="#") Pinterest
                                li.footer__social-item
                                    a.footer__social-link.footer__social-link--whatsapp(href="#") WhatsApp
                                li.footer__social-item
                                    a.footer__social-link.footer__social-link--youtube(href="#") Youtube 
                            nav.footer__menu
                                ul.footer__menu-list
                                    li.footer__menu-item
                                        a.footer__menu-link(href="#") Delivery
                                    li.footer__menu-item
                                        a.footer__menu-link(href="#") FAQ
                                    li.footer__menu-item
                                        a.footer__menu-link(href="#") Help
                                    li.footer__menu-item
                                        a.footer__menu-link(href="#") More About Us
                .footer__copyright 
                    .container
                        p 674 Gonzales Drive.   Washington, PA 15301
    script(src="libs/jquery/jquery.js")
    script(src="js/main.min.js")