<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title DESIRE - CONTACTS
        link(rel="stylesheet" type="text/css" href="libs/slick/slick.css")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="css/main.min.css")
    body
        .wrapper
            .header
                .container
                    .header__inner 
                        nav.menu
                            ul.menu__list
                                li.menu__list-item 
                                    a.menu__list-link(href="about.html") About
                                li.menu__list-item 
                                    a.menu__list-link.menu__list-link--active(href="gallery.html") Gallery
                        a.logo(href="index.html")
                            img(src="img/logo.png", alt="")
                        nav.menu
                            ul.menu__list
                                li.menu__list-item 
                                    a.menu__list-link(href="blog.html") Blog
                                li.menu__list-item 
                                    a.menu__list-link.menu__list-link--active(href="contacts.html") Contact
                        button.header__btn
                            img(src="img/icon_menu.svg", alt="")
                        .rightside-menu
                            button.rightside-menu__close
                                img(src="img/close.svg", alt="")
                            .rightside-menu__content        
                                a.rightside-menu__logo(href='#')
                                    img(src="img/logo-menu.png", alt="")
                                h4.rightside-menu__title Furniture for life
                                p.rightside-menu__text 
                                    |Sustainable hot chicken skateboard, dreamcatcher meggings actually squid. Slow-carb everyday carry +1 art party microdosing, put a bird on it brooklyn
                                img.rightside-menu__img(src="img/content/rightside-img.jpg", alt="")
            main.main
                .breadcrumbs
                    .container 
                        ul.breadcrumbs__list
                            li.breadcrumbs__item
                                a.breadcrumbs__link(href="index.html") Home
                            li.breadcrumbs__item
                                a.breadcrumbs__link(href="#") Contact
                .map 
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13724.330460194016!2d-122.42420743237928!3d37.804526796107645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808580e839d7e541%3A0xf89b6220c55337a7!2zR3JlZW4gU3QsIFNhbiBGcmFuY2lzY28sIENBIDk0MTMzLCDQodCo0JA!5e0!3m2!1sru!2sru!4v1620634470144!5m2!1sru!2sru" width="1920" height="578" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                section.contact 
                    .container 
                        h3.contact__title Contact Us
                        ul.contact__social
                            li.contact__cocial-item
                                a.contact__social-link(href="#")
                                    img.contact__social-img(src="img/social/facebook.svg", alt="facebook")
                            li.contact__social-item
                                a.contact__social-link(href="#")
                                    img.contact__social-img(src="img/social/instagram.svg", alt="instagram")
                            li.contact__social-item
                                a.contact__social-link(href="#")
                                    img.contact__social-img(src="img/social/Pinterest.svg", alt="Pinterest")
                            li.contact__social-item
                                a.contact__social-link(href="#")
                                    img.contact__social-img(src="img/social/whatsapp.svg", alt="whatsapp")
                            li.contact__social-item
                                a.contact__social-link(href="#")
                                    img.contact__social-img(src="img/social/youtube.svg", alt="youtube")
                        .contact__box
                            p.contact__text Vexillologist vape microdosing freegan pork belly deep v direct trade cray single-origin coffee street art. Viral shaman mustache master cleanse, pour-over affogato poutine copper mug marfa fanny pack normcore. Lo-fi pop-up banjo portland, echo park hammock
                            a.contact__phone(href="tel:+14158297934") (415) 829-7934
                            .contact__st 725 Green St
                            .contact__city San Francisco, California(CA), 94133
                            a.info-email(href="mailto:ouremailaddress@email.com") ouremailaddress@email.com
                        form.contact__form
                            input.contact__form-imput(placeholder="Your name" type="text")
                            input.contact__form-imput(placeholder="Your e-mail" type="email")
                            textarea.contact__form-textarea(placeholder="Your message")
                            button.contact__form-btn(type="submit") Send
                .container-fluid
                    .contact-slider 
                        a.contact-slider__link(href="#")
                            img(src="img/slider/1.jpg", alt="").contact-slider__img
                            p.contact-slider__title Truffaut literally trust
                        a.contact-slider__link(href="#")
                            img(src="img/slider/2.jpg", alt="").contact-slider__img
                            p.contact-slider__title Truffaut literally trust
                        a.contact-slider__link(href="#")
                            img(src="img/slider/3.jpg", alt="").contact-slider__img
                            p.contact-slider__title Truffaut literally trust
                        a.contact-slider__link(href="#")
                            img(src="img/slider/4.jpg", alt="").contact-slider__img
                            p.contact-slider__title Truffaut literally trust
                        a.contact-slider__link(href="#")
                            img(src="img/slider/5.jpg", alt="").contact-slider__img
                            p.contact-slider__title Truffaut literally trust
                        a.contact-slider__link(href="#")
                            img(src="img/slider/6.jpg", alt="").contact-slider__img
                            p.contact-slider__title Truffaut literally trust
                        a.contact-slider__link(href="#")
                            img(src="img/slider/7.jpg", alt="").contact-slider__img
                            p.contact-slider__title Truffaut literally trust
                        a.contact-slider__link(href="#")
                            img(src="img/slider/8.jpg", alt="").contact-slider__img
                            p.contact-slider__title Truffaut literally trust
                        a.contact-slider__link(href="#")
                            img(src="img/slider/9.jpg", alt="").contact-slider__img
                            p.contact-slider__title Truffaut literally trust
                        a.contact-slider__link(href="#")
                            img(src="img/slider/10.jpg", alt="").contact-slider__img
                            p.contact-slider__title Truffaut literally trust
                        a.contact-slider__link(href="#")
                            img(src="img/slider/1.jpg", alt="").contact-slider__img
                            p.contact-slider__title Truffaut literally trust
                        a.contact-slider__link(href="#")
                            img(src="img/slider/2.jpg", alt="").contact-slider__img
                            p.contact-slider__title Truffaut literally trust
                        a.contact-slider__link(href="#")
                            img(src="img/slider/3.jpg", alt="").contact-slider__img
                            p.contact-slider__title Truffaut literally trust
                        a.contact-slider__link(href="#")
                            img(src="img/slider/4.jpg", alt="").contact-slider__img
                            p.contact-slider__title Truffaut literally trust
                        a.contact-slider__link(href="#")
                            img(src="img/slider/5.jpg", alt="").contact-slider__img
                            p.contact-slider__title Truffaut literally trust
                        a.contact-slider__link(href="#")
                            img(src="img/slider/6.jpg", alt="").contact-slider__img
                            p.contact-slider__title Truffaut literally trust
                        a.contact-slider__link(href="#")
                            img(src="img/slider/7.jpg", alt="").contact-slider__img
                            p.contact-slider__title Truffaut literally trust
                        a.contact-slider__link(href="#")
                            img(src="img/slider/8.jpg", alt="").contact-slider__img
                            p.contact-slider__title Truffaut literally trust
                        a.contact-slider__link(href="#")
                            img(src="img/slider/9.jpg", alt="").contact-slider__img
                            p.contact-slider__title Truffaut literally trust
                        a.contact-slider__link(href="#")
                            img(src="img/slider/10.jpg", alt="").contact-slider__img
                            p.contact-slider__title Truffaut literally trust
                        a.contact-slider__link(href="#")
                            img(src="img/slider/1.jpg", alt="").contact-slider__img
                            p.contact-slider__title Truffaut literally trust
                        a.contact-slider__link(href="#")
                            img(src="img/slider/2.jpg", alt="").contact-slider__img
                            p.contact-slider__title Truffaut literally trust
                        a.contact-slider__link(href="#")
                            img(src="img/slider/3.jpg", alt="").contact-slider__img
                            p.contact-slider__title Truffaut literally trust
                        a.contact-slider__link(href="#")
                            img(src="img/slider/4.jpg", alt="").contact-slider__img
                            p.contact-slider__title Truffaut literally trust
                        a.contact-slider__link(href="#")
                            img(src="img/slider/5.jpg", alt="").contact-slider__img
                            p.contact-slider__title Truffaut literally trust
                        a.contact-slider__link(href="#")
                            img(src="img/slider/6.jpg", alt="").contact-slider__img
                            p.contact-slider__title Truffaut literally trust
                        a.contact-slider__link(href="#")
                            img(src="img/slider/7.jpg", alt="").contact-slider__img
                            p.contact-slider__title Truffaut literally trust
                        a.contact-slider__link(href="#")
                            img(src="img/slider/8.jpg", alt="").contact-slider__img
                            p.contact-slider__title Truffaut literally trust
                        a.contact-slider__link(href="#")
                            img(src="img/slider/9.jpg", alt="").contact-slider__img
                            p.contact-slider__title Truffaut literally trust
                        a.contact-slider__link(href="#")
                            img(src="img/slider/10.jpg", alt="").contact-slider__img
                            p.contact-slider__title Truffaut literally trust

            .footer 
                .footer__content
                    .container
                        .footer__inner
                            .footer__info
                                h6.footer__info-title Contact Us
                                p.footer__info-text 
                                    |Keffiyeh poutine etsy, paleo cray put a bird on it microdosing schlitz you probably occupy
                                a.info-email(href="mailto:ouremailaddress@email.com") ouremailaddress@email.com
                                form.footer__form
                                    input.footer__form-input(type="email" placeholder="Subscribe by email")
                                    button.footer__form-btn(type="submit") Send
                            ul.footer__social-list
                                li.footer__social-item
                                    a.footer__social-link.footer__social-link--facebook(href="#") Facebook
                                li.footer__social-item
                                    a.footer__social-link.footer__social-link--instagram(href="#") Instagram
                                li.footer__social-item
                                    a.footer__social-link.footer__social-link--pinterest(href="#") Pinterest
                                li.footer__social-item
                                    a.footer__social-link.footer__social-link--whatsapp(href="#") WhatsApp
                                li.footer__social-item
                                    a.footer__social-link.footer__social-link--youtube(href="#") Youtube 
                            nav.footer__menu
                                ul.footer__menu-list
                                    li.footer__menu-item
                                        a.footer__menu-link(href="#") Delivery
                                    li.footer__menu-item
                                        a.footer__menu-link(href="#") FAQ
                                    li.footer__menu-item
                                        a.footer__menu-link(href="#") Help
                                    li.footer__menu-item
                                        a.footer__menu-link(href="#") More About Us
                .footer__copyright 
                    .container
                        p 674 Gonzales Drive.   Washington, PA 15301
    script(src="libs/jquery/jquery.js")
    script(src="libs/slick/slick.min.js")
    script(src="js/main.min.js")