<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title desire
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="css/main.min.css")
    body
        .header
            .container
                .header__inner 
                    nav.menu
                        ul.menu__list
                            li.menu__list-item 
                                a.menu__list-link(href="#") About
                            li.menu__list-item 
                                a.menu__list-link(href="#") Gallery
                    a.logo(href="#")
                        img(src="img/logo.png", alt="")
                    nav.menu
                        ul.menu__list
                            li.menu__list-item 
                                a.menu__list-link(href="#") Blog
                            li.menu__list-item 
                                a.menu__list-link(href="#") Contact
                    button.header__btn
                        img(src="img/icon_menu.svg", alt="")
    script(src="js/main.min.js")