.about{
    &__prev{
        background-image: url(../img/background/about-bg.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        text-align: center;
        padding: 160px 0;
        margin-top: -50px;
    }
    &__prev-title{
        @extend %title-font;
        color: $title-color;
        font-size: 60px;
        line-height: 80px;
    }
    
    &__content{
        padding: 130px 0 40px;
    }
    &__title{
        @extend %title-font;
        color: $title-color;
        font-size: 36px;
        line-height: 60px;
        margin-bottom: 22px;
        padding-bottom: 22px;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 200px;
            height: 1px;
            background-color: $title-color;
        }
    }
    &__text{
        padding-left: 285px;
        p{
            margin-bottom: 30px;
        }
    }
<<<<<<< HEAD
    &__popup{
        background-image: url(../img/background/about-popup-bg.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        padding: 167px 0 167px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__popup-play{
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        
    }
    &__popup-player{
        display: none;
        background-color: rgba($title-color, .9);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 3;
    }
}
  
.video-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 85%; 
}
  
iframe {
    width: 100%;
    height: 100%; 
}
  
#close {
    z-index: 99;
    position: fixed;
    top: 70px;
    right: 130px;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer; 
}
  
.close-icon-line {
    position: relative;
    width: 65px;
    height: 5px;
    background-color: transparent; 
}
  
.close-icon-line::before {
    position: absolute;
    left: 0;
    top: 5px;
    content: '';
    width: 65px;
    height: 5px;
    background-color: #fff;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    transform: rotate(45deg); 
=======
    
>>>>>>> main
}
