.blog{
    padding: 60px 0 100px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__items{}
}
.aside{    
    width: 350px;
    margin-left: 30px;
    &__search{
        position: relative;
        margin-bottom: 40px;
    }
    &__search-input{
        display: block;
        width: 100%;
        font-size: 14px;
        line-height: 28px;
        color: #A1A1A1;
        padding: 6px 45px 6px 18px;
        border:1px solid rgba($title-color, .7);
        border-radius: 20px;
        outline: none;
        &::placeholder{
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 27px;
            color: #A1A1A1;
        }
    }
    &__search-btn{
        border: none;
        background: transparent;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
}

// __category
// __category-title
// __category-list
// __category-item
// __category-link
// .recent-posts
// recent__posts-title 
// recent__posts-list
// recent
// __posts-item
// .recent__posts-item-title
// .recent__posts__date
// recent-posts_author
// blog__tags
// blog__tags-title
// blog__tags-link
// .blog__social
// .blog__cocial-item
// .blog
// __social-link
// g.blog__social-img