.blog{
    padding: 60px 0 100px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__items{
        max-width: 730px;
    }
    &__item{
        position: relative;
        margin-bottom: 80px;
    }
    &__item-img{
        max-height: 730px;
    }
    &__item-info{    
        padding: 25px 0 10px;
        font-size: 14px;
        font-weight: 600;
        color: #707070;
        a{
            color: inherit;
        }
    }
    &__item-title{
        @extend %title-font;
        color: $title-color;
        font-size: 24px;
        line-height: 38px;
        margin-bottom: 6px;
    }
    &__blockquote{
        background-color: rgba(223, 223, 223, .5);
        padding: 55px 65px;
        font-weight: 300;
        font-style: italic;
        font-size: 24px;
        line-height: 38px;
        color: $title-color;
        margin-bottom: 50px;
        text-align: center;
    }
    &__blockquote-author{
        @extend %title-font;
        color: $title-color;
        font-size: 16px;
        line-height: 22px;
        font-style: normal;
        margin-top: 23px;
        padding-top: 23px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            background-color: #6D7278;
            width: 200px;
            height: 1px;
            margin: 0 auto;
            border-radius: 1px;
        }

    }
    
    &__category{
        margin-bottom: 36px;
    }
    &__category-title,
    &__tags-title{
        @extend %title-font;
        line-height: 23px;
        margin-bottom: 15px;
        color: $title-color;
    }
    &__category-item{
        margin-bottom: 12px;
    }
    &__category-link{
        color: inherit;
    }
    &__tags{
        margin-bottom: 50px;
    }
    &__tags-link{
        color: #8F8D8D;
        font-size: 14px;
        font-weight: 600;
        padding: 0 16px;
        margin-bottom: 10px;
        margin-right: 10px;
        display: inline-block;
        border: 1px solid rgba(#454647, .5);
        border-radius: 14px;   
    }
    &__social{
        display: flex;
    }
    &__social-item{
        margin-right: 20px;
    }
}
.article-slider {
    &__arrow{
        padding: 0;
        border: none;
        background: transparent;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        cursor: pointer;
    }
    &__arrowLeft{
        left: 15px;
    }
    &__arrowRight{
        right: 15px;
    }
}
.recent-posts{
    margin-bottom: 40px;
    &__title {
        margin-bottom: 24px;
        color: $title-color;
        @extend %title-font;
        line-height: 23px;
    }
    &__list{
        margin-bottom: 11px;
    }
    &__item-title{
        display: block;
        color: inherit;
    }
    &__date,
    &__author{
        color:#A1A1A1;
        font-size: 14px;
    }
}
.aside{    
    width: 350px;
    margin-left: 30px;
    &__search{
        position: relative;
        margin-bottom: 40px;
    }
    &__search-input{
        display: block;
        width: 100%;
        font-size: 14px;
        line-height: 28px;
        color: #A1A1A1;
        padding: 6px 45px 6px 18px;
        border:1px solid rgba($title-color, .7);
        border-radius: 20px;
        outline: none;
        &::placeholder{
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 27px;
            color: #A1A1A1;
        }
    }
    &__search-btn{
        border: none;
        background: transparent;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
}
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    &__list{
        display: flex;
    }
    &__list-item{
        margin: 0 6px;
    }
    &__arrow{
        margin: 0 6px;
    }
    &__arrow--disabled{
        display: none;
    }
    &__list-num{
        font-weight: 600;
        font-size: 14px;
        color: #707070;
        &--active{
            color: $title-color;
        }
    }
}
.single-article__item{
    p{
        margin-bottom: 40px;
    }
    blockquote{
        font-size: 24px;
        font-weight: 300;
        font-style: italic;
        color: $title-color;
        margin-bottom: 30px;
        padding: 0 40px;
    }
    .blog__blockquote-author::after{
        margin-right: auto;
        margin-left: 0;
    }
}
.single-article{
    &__tags{
        margin-bottom: 30px;
    }
    &__tags-title{
        color: $title-color;
        @extend %title-font;        
        font-size: 20px;
        line-height: 31px;
        margin-bottom: 15px;
    }
    &__tags-link{
        margin-bottom: 10px;
        margin-right: 23px;
        padding: 0 16px;
        color: #8F8D8D;
        font-size: 14px;
        line-height: 28px;  
        font-weight: 600;        
        border: 1px solid rgba(#454647, .5);
        border-radius: 14px;
        display: inline-block;
    }
    &__links{
        padding: 40px 0 32px;
        border-top: 1px solid #DFDFDF;
        border-bottom: 1px solid #DFDFDF;
        display: flex;
        justify-content: space-between;
    }
    &__link{
        width: 243px;
        position: relative;
        font-weight: 600;
        font-size: 14px;
        line-height: 28px;
        color: #707070;
        &::before{
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 12px;
            height: 23px;
        }
    }
    &__link-prev{
        padding-left: 45px;
        &::before{
            background-image: url(../img/icons/prev-article.svg);
            left: 0;
        }
    }
    &__link-next{
        padding-right: 45px;
        text-align: right;
        &::before{
            background-image: url(../img/icons/next-article.svg);
            right: 0;
        }
    }
}