.new-collection{
    text-align: center;
    padding: 45px 0 35px;
    &__title{
        @extend %title-font;
        color: $title-color;
        font-size: 36px;
        line-height: 51px;
        padding: 25px;
        margin-bottom: 25px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 250px;
            height: 1px;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            background-color: #6D7278;
        }
    }
    &__text{
        max-width: 730px;
        margin: 0 auto 30px;
    }
}

.collection{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
    padding-bottom: 70px; 
    &__item{
        position: relative;
        &:hover{
            .collection__info{
                opacity: 1;
            }
        }
    }
    &__img{
        min-height: 350px;
        object-fit: cover;
    }
    &__info{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255,255,255, .6);
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity .5s;
    }
    &__info-title{
        font-size: 20px;
        line-height: 25px;
        color: $title-color;
        padding-bottom: 19px;
        margin-bottom: 19px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            background-color: #6D7278;
            height: 1px;
            width: 80%;
        }
    }
    &__info-text{
        font-weight: 700;
        font-size: 14px;
        color: #707070;
    }
}