.map{
    height: 578px;
    margin-top: -53px;
    margin-bottom: 50px;
}
.contact{
    padding-bottom: 100px;
    &__title{
        @extend %title-font;
        color: $title-color;
        font-size: 36px;
        line-height: 60px;
        padding-bottom: 30px;
        margin-bottom: 40px;
        position: relative;
        &::after{
            content:"";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 200px;
            height: 2px;
            background-color: #6D7278;
        }
    }
    .contact__social{
        padding-left: 284px;
        display: flex;
    }
    &__social-item + .contact__social-item{
        padding-left: 40px;
        padding-bottom: 20px;
    }
    &__adress{
        padding-left: 284px;
    }
    &__box{
        padding-left: 280px;
    }
    &__phone{
        color: $default-color;
    }
    &__city{
        margin-bottom: 16px;
    }
    &__form{
        padding-left: 284px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__form-imput{
        border: 1px solid #DFDFDF;
        border-radius: 20px;
        padding: 6px 17px;
        margin-bottom: 13px;
        width: 48%;
        outline: none;
        &::placeholder{
            font-family: 'Open Sans', sans-serif;
	        font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: #A1A1A1;
        }
    }
    &__form-textarea{
        width: 100%;
        border: 1px solid #DFDFDF;
        border-radius: 24px;
        padding: 14px 17px;
        margin-bottom: 20px;
        min-height: 125px;
        resize: none;
        outline: none;
        &::placeholder{
            font-family: 'Open Sans', sans-serif;
	        font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: #A1A1A1;
        }
    }
    &__form-btn{
        border: none;
        border-radius: 21px;
        background-color: $title-color;
        color: #FFF;
        font-weight: 600;
        padding: 6px 60px;
        cursor: pointer;
    }
}
.contact-slider{
    margin-bottom: 100px;
    &__link{
        position: relative;
        margin-bottom: 20px;
        &:hover{
            .contact-slider__title{
                opacity: 1;
            }
        }
    }
    &__img{
        width: 170px;
        height: 170px;   
        object-fit: cover;
    }
    &__title{
        position: absolute;
        @extend %title-font;
        color: $title-color;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(#fff, .7);
        line-height: 22px;
        padding: 0 7px;
        text-align: center;
        opacity: 0;
        transition: opacity .5s
    }
}