.rightside-menu{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 694px;
    width: 100%;
    background-color: #fff;
    &__close{
        background-color: transparent;
        border: none;
        padding: 40px 0 0 50px;
        margin-bottom: 60px;
        cursor: pointer;
    }
    &__content{
        text-align: center;
        max-width: 485px;
        margin: 0 auto;
    }
    &__logo{
        display: inline-block;
        margin-bottom: 40px;
    }
    &__title{
        color: $title-color;
        @extend %title-font;
        font-size: 36px;
        line-height: 51px;
    }
    &__text{
        margin-bottom: 75px;
    }
    &__img{
        max-width: 485px;
    }
}