.slogan{
    padding: 170px 0 155px;
    background-image: url(../img/background/slogan-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    &__title{
        @extend %title-font;
        color: $title-color;
        max-width: 730px;
        font-size: 60px;
        line-height: 80px;
        padding-bottom: 22px;
        margin-bottom: 22px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: #6D7278;
            width: 200px;
            height: 1px;
        }
    }
    &__text{
        max-width: 540px;
    }
}