.video-popup{
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 167px 0 167px;
    display: flex;
    justify-content: center;
    align-items: center;
    &--about{
        background-image: url(../img/background/about-popup-bg.jpg);
    }
    &--blog{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        margin: 0 auto;
    }
    &-play{
        background-color: transparent;
        border: none;
        outline: none;
    }
    &-player{
        display: none;
        background-color: rgba($title-color, .9);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 3;
   }
}

.video-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 85%; 
}
  
iframe {
    width: 100%;
    height: 100%; 
}
  
#close {
    z-index: 99;
    position: fixed;
    top: 40px;
    right: 70px;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer; 
}
  
.close-icon-line {
    position: relative;
    width: 65px;
    height: 5px;
    background-color: transparent; 
}
  
.close-icon-line::before {
    position: absolute;
    left: 0;
    top: 5px;
    content: '';
    width: 65px;
    height: 5px;
    background-color: #fff;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    transform: rotate(45deg); 
}
  
.close-icon-line::after {
    position: absolute;
    left: 0;
    top: 5px;
    content: '';
    width: 65px;
    height: 5px;
    background-color: #fff;
    transform: rotate(-45deg); 
}